version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo"
    directory: "/crossterm-keybind"
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo"
    directory: "/crossterm-keybind-derive"
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo"
    directory: "/example"
    schedule:
      interval: "weekly"
